<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
    <section name="FileReferences-Ignore" type="System.Configuration.DictionarySectionHandler" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="UnityFramework" />
    <assembly name="UnityFramework" />

    <alias alias="IFileParser" type="Parser.Interfaces.IFileParser, Parser" />

    <alias alias="VSSolution" type="VisualStudioFileParser.SolutionParser, VisualStudioFileParser" />
    <alias alias="CSProject" type="VisualStudioFileParser.CSProjectParser, VisualStudioFileParser" />
    <alias alias="VBProject" type="VisualStudioFileParser.VBProjectParser, VisualStudioFileParser" />
    <alias alias="VB6Project" type="VisualStudioFileParser.VB6ProjectParser, VisualStudioFileParser" />
    <alias alias="SqlProject" type="VisualStudioFileParser.SqlProjectParser, VisualStudioFileParser" />
    <alias alias="VSConfig" type="VisualStudioFileParser.ConfigParser, VisualStudioFileParser" />

    <containers>
      <container name="FileParserContainer">
        <register type="IFileParser" name="VSSolution" mapTo="VSSolution" />
        <register type="IFileParser" name="CSProject" mapTo="CSProject" />
        <register type="IFileParser" name="VB6Project" mapTo="VB6Project" />
        <register type="IFileParser" name="SqlProject" mapTo="SqlProject" />
        <register type="IFileParser" name="VSConfig" mapTo="VSConfig" />
        <!-- parse VB.Net projects the same as C# projects -->
        <register type="IFileParser" name="VBProject" mapTo="CSProject" />
      </container>
    </containers>
  </unity>  

  <FileReferences-Ignore>
    <!--<add key="ignore01" value="EntityFramework" />
    <add key="ignore02" value="Microsoft" />
    <add key="ignore03" value="MSTest" />
    <add key="ignore04" value="NETStandard" />
    <add key="ignore05" value="System" />
    <add key="ignore06" value="PresentationCore" />
    <add key="ignore07" value="PresentationFramework" />
    <add key="ignore08" value="WindowsBase" />-->
  </FileReferences-Ignore>
</configuration>