<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<!-- Replace SERVER_PLACEHOLDER with your SQL Server name -->
	<!-- Replace DATABASE_PLACEHOLDER with your SQL Server Database name -->
	<connectionStrings>
		<add name="ProjectScannerDB" connectionString="data source=SERVER_PLACEHOLDER;initial catalog=DATABASE_PLACEHOLDER;integrated security=True;MultipleActiveResultSets=True;App=RepoScanner" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- Replace ORG_NAME_PLACEHOLDER with your Azure DevOps Organization name -->
	<!-- Replace ORG_URL_PLACEHOLDER with your Azure DevOps Organization link, and truncate https:// prefix -->
	<appSettings>
		<add key="processingThreads" value="8"/>
		<add key="Scanner||ORG_NAME_PLACEHOLDER" value="AzureDevOps||ORG_URL_PLACEHOLDER" />
		<add key="useFileFiltering" value="false" />
		<add key="forceDetails" value="false"/>

		<add key="StorageType" value="SqlServerStorage" />
		<add key="StorageConfiguration" value="ProjectScannerDB" />
	</appSettings>

	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<namespace name="UnityFramework" />
		<assembly name="UnityFramework" />

		<alias alias="IFileParser" type="Parser.Interfaces.IFileParser, Parser" />
		<alias alias="IScanner" type="ProjectData.Interfaces.IScanner, ProjectData" />
		<alias alias="IMetricsScanner" type="ProjectData.Interfaces.IMetricsScanner, ProjectData" />
		<alias alias="INuGetScanner" type="ProjectData.Interfaces.INuGetScanner, ProjectData" />
		<alias alias="IEndOfLifeChecker" type="ProjectData.Interfaces.IEndOfLifeChecker, ProjectData" />
		<alias alias="IFilterConfiguration" type="ProjectData.Interfaces.IFilterConfiguration, ProjectData" />
		<alias alias="IFilter" type="ProjectData.Interfaces.IFilter, ProjectData" />
		<alias alias="IReadFileDetails" type="RepoScan.DataModels.IReadFileDetails, RepoScan.DataModels" />
		<alias alias="IReadFileItem" type="RepoScan.DataModels.IReadFileItem, RepoScan.DataModels" />
		<alias alias="IReadRepoList" type="RepoScan.DataModels.IReadRepoList, RepoScan.DataModels" />
		<alias alias="IWriteFileDetails" type="RepoScan.DataModels.IWriteFileDetails, RepoScan.DataModels" />
		<alias alias="IWriteFileItem" type="RepoScan.DataModels.IWriteFileItem, RepoScan.DataModels" />
		<alias alias="IWriteRepoList" type="RepoScan.DataModels.IWriteRepoList, RepoScan.DataModels" />
		<alias alias="IReadPipelines" type="RepoScan.DataModels.IReadPipelines, RepoScan.DataModels" />
		<alias alias="IWritePipeline" type="RepoScan.DataModels.IWritePipeline, RepoScan.DataModels" />
		<alias alias="IStorageWriter" type="ProjectData.Interfaces.IStorageWriter, ProjectData" />
		<alias alias="IStorageReader" type="ProjectData.Interfaces.IStorageReader, ProjectData" />
		<alias alias="ICredentials" type="ScannerCommon.Interfaces.ICredentials, ScannerCommon" />
		<alias alias="IContentParser" type="Parser.Interfaces.IContentParser, Parser" />
		<alias alias="IReadNuGet" type="RepoScan.DataModels.IReadNuGet, RepoScan.DataModels" />
		<alias alias="IWriteNuGet" type="RepoScan.DataModels.IWriteNuGet, RepoScan.DataModels" />

		<alias alias="VSSolution" type="VisualStudioFileParser.SolutionParser, VisualStudioFileParser" />
		<alias alias="CSProject" type="VisualStudioFileParser.CSProjectParser, VisualStudioFileParser" />
		<alias alias="VBProject" type="VisualStudioFileParser.VBProjectParser, VisualStudioFileParser" />
		<alias alias="VB6Project" type="VisualStudioFileParser.VB6ProjectParser, VisualStudioFileParser" />
		<alias alias="SqlProject" type="VisualStudioFileParser.SqlProjectParser, VisualStudioFileParser" />
		<alias alias="VSConfig" type="VisualStudioFileParser.ConfigParser, VisualStudioFileParser" />
		<alias alias="NuGetPkgConfig" type="NuGetFileParser.ProjectPackagesParser, NuGetFileParser" />
		<alias alias="Nuspec" type="NuGetFileParser.NuspecParser, NuGetFileParser" />
		<alias alias="NpmPackage" type="NpmFileParser.PackageParser, NpmFileParser" />
		<alias alias="YamlPipeline" type="YamlFileParser.PipelineParser, YamlFileParser" />

		<alias alias="VisualStudioMetrics" type="VisualStudioMetricsScanner.MetricsScanner, VisualStudioMetricsScanner" />
		<alias alias="DefaultMetrics" type="DefaultMetricsScanner.MetricsScanner, DefaultMetricsScanner" />

		<alias alias="AzureScanner" type="AzureDevOpsScannerFramework.Scanner, AzureDevOpsScannerFramework" />
		<alias alias="NuGetScanner" type="NuGetScanner.Scanner, NuGetScanner" />
		<alias alias="TfsScanner" type="TfsScannerFramework.Scanner, TfsScannerFramework" />

		<alias alias="EoLCheckConfigFile" type="EndOfLifeConfigFile.Checker, EndOfLifeConfigFile" />

		<alias alias="ContentFilter" type="ContentFilter.Filter, ContentFilter" />
		<alias alias="FilterConfigurationFromConfigFile" type="FilterConfigurationFromConfigFile.Configuration, FilterConfigurationFromConfigFile" />

		<alias alias="FileDetailsRW" type="RepoScan.Storage.SqlServer.FileDetails, RepoScan.Storage.SqlServer" />
		<alias alias="FileItemRW" type="RepoScan.Storage.SqlServer.FileItem, RepoScan.Storage.SqlServer" />
		<alias alias="RepoListRW" type="RepoScan.Storage.SqlServer.RepoList, RepoScan.Storage.SqlServer" />
		<alias alias="PipelineRW" type="RepoScan.Storage.SqlServer.Pipeline, RepoScan.Storage.SqlServer" />
		<alias alias="NuGetRW" type="RepoScan.Storage.SqlServer.NuGet, RepoScan.Storage.SqlServer" />

		<alias alias="SqlServerStorageWriter" type="ProjectScannerSaveToSqlServer.Save, ProjectScannerSaveToSqlServer" />
		<alias alias="SqlServerStorageReader" type="ProjectScannerSaveToSqlServer.Read, ProjectScannerSaveToSqlServer" />

		<alias alias="Credentials" type="TokenCredentials.Credentials, TokenCredentials" />

		<alias alias="SecretsParser" type="OpenSecretsDetection.SecretsParser, OpenSecretsDetection" />

		<containers>
			<container name="FileParserContainer">
				<register type="IFileParser" name="VSSolution" mapTo="VSSolution" />
				<register type="IFileParser" name="CSProject" mapTo="CSProject" />
				<register type="IFileParser" name="VB6Project" mapTo="VB6Project" />
				<register type="IFileParser" name="SqlProject" mapTo="SqlProject" />
				<register type="IFileParser" name="VSConfig" mapTo="VSConfig" />
				<register type="IFileParser" name="NuGetPkgConfig" mapTo="NuGetPkgConfig" />
				<register type="IFileParser" name="Nuspec" mapTo="Nuspec" />
				<!-- parse VB.Net projects the same as C# projects -->
				<register type="IFileParser" name="VBProject" mapTo="CSProject" />
				<register type="IFileParser" name="NpmPackage" mapTo="NpmPackage" />
				<register type="IFileParser" name="YamlPipeline" mapTo="YamlPipeline" />
			</container>

			<container name="ScannerContainer">
				<register type="IScanner" name="AzureDevOps" mapTo="AzureScanner" />
				<register type="INuGetScanner" mapTo="NuGetScanner" />
			</container>

			<container name="MetricsScannerContainer">
				<register type ="IMetricsScanner" name="CSProject" mapTo="VisualStudioMetrics" />
				<register type ="IMetricsScanner" name="VBProject" mapTo="VisualStudioMetrics" />
				<register type ="IMetricsScanner" name="VSSolution" mapTo="DefaultMetrics" />
				<register type ="IMetricsScanner" name="VB6Project" mapTo="DefaultMetrics" />
				<register type ="IMetricsScanner" name="SqlProject" mapTo="DefaultMetrics" />
				<register type ="IMetricsScanner" name="VSConfig" mapTo="DefaultMetrics" />
				<register type ="IMetricsScanner" name="NuGetPkgConfig" mapTo="DefaultMetrics" />
				<register type ="IMetricsScanner" name="Nuspec" mapTo="DefaultMetrics" />
				<register type ="IMetricsScanner" name="NpmPackage" mapTo="DefaultMetrics" />
				<register type ="IMetricsScanner" name="YamlPipeline" mapTo="DefaultMetrics" />
				<register type ="IMetricsScanner" name="Dll" mapTo="DefaultMetrics" />
			</container>

			<container name="EndOfLifeCheckContainer">
				<register type="IEndOfLifeChecker" mapTo="EoLCheckConfigFile" />
			</container>

			<container name="FilterContainer">
				<register type="IFilterConfiguration" mapTo="FilterConfigurationFromConfigFile" />
				<register type="IFilter" name="Content" mapTo="ContentFilter" />
			</container>

			<container name="RepoStorageContainer">
				<register type="IReadFileDetails" mapTo="FileDetailsRW" />
				<register type="IReadFileItem" mapTo="FileItemRW" />
				<register type="IReadRepoList" mapTo="RepoListRW" />
				<register type="IReadPipelines" mapTo="PipelineRW" />
				<register type="IReadNuGet" mapTo="NuGetRW" />
				<register type="IWriteFileDetails" mapTo="FileDetailsRW" />
				<register type="IWriteFileItem" mapTo="FileItemRW" />
				<register type="IWriteRepoList" mapTo="RepoListRW" />
				<register type="IWritePipeline" mapTo="PipelineRW" />
				<register type="IWriteNuGet" mapTo="NuGetRW" />
			</container>

			<container name="StorageContainer">
				<register type="IStorageWriter" name="SqlServerStorage" mapTo="SqlServerStorageWriter" />
				<register type="IStorageReader" name="SqlServerStorage" mapTo="SqlServerStorageReader" />
			</container>

			<container name="CredentialsContainer">
				<register type="ICredentials" mapTo="Credentials" />
			</container>

			<container name="ContentParserContainer">
				<register type="IContentParser" name="OpenSecrets" mapTo="SecretsParser" />
			</container>
		</containers>
	</unity>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.11.6.0" newVersion="5.11.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.11.8.0" newVersion="5.11.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>