<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FilterConfiguration" type="System.Configuration.DictionarySectionHandler" />
  </configSections>

  <FilterConfiguration>
    <add key="Filter01" value="Content:Google|google" />
    <add key="Filter02" value="Content:Angular|angular" />
    <add key="Filter03" value="Content:Flash File|.swf" />
    <add key="Filter04" value="Content:Flash Media|application/x-shockwave-flash" />
    <add key="Filter05" value="FileContent:.swf" />
    <add key="Filter06" value="FileContent:application/x-shockwave-flash" />
    <add key="Filter07" value="Content:Silverlight File|.xap" />
    <add key="Filter08" value="Content:Silverlight Media|application/x-silverlight" />
    <add key="Filter09" value="FileContent:.xap" />
    <add key="Filter10" value="FileContent:application/x-silverlight" />
    <add key="FileExt01" value="FileExtension:.html" />
    <add key="FileExt02" value="FileExtension:.js" />
    <add key="FileExt03" value="FileExtension:.master" />
    <add key="FileExt04" value="FileExtension:.aspx" />
    <add key="FileExt05" value="FileExtension:.ascx" />
    <add key="FileExt06" value="FileExtension:.cshtml" />
    <add key="FileExt07" value="FileExtension:.cs" />
    <add key="FileExt08" value="FileExtension:.vbhtml" />
    <add key="FileExt09" value="FileExtension:.vb" />
    <add key="FileExt10" value="FileExtension:.ts" />
  </FilterConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.6.0" newVersion="5.11.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.8.0" newVersion="5.11.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>