<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FilterConfiguration" type="System.Configuration.DictionarySectionHandler" />
  </configSections>

  <FilterConfiguration>
    <add key="Filter01" value="Content:Google|google" />
    <add key="Filter02" value="Content:Angular|angular" />
    <add key="Filter03" value="Content:Flash File|.swf" />
    <add key="Filter04" value="Content:Flash Media|application/x-shockwave-flash" />
    <add key="Filter05" value="FileContent:.swf" />
    <add key="Filter06" value="FileContent:application/x-shockwave-flash" />
    <add key="Filter07" value="Content:Silverlight File|.xap" />
    <add key="Filter08" value="Content:Silverlight Media|application/x-silverlight" />
    <add key="Filter09" value="FileContent:.xap" />
    <add key="Filter10" value="FileContent:application/x-silverlight" />
    <add key="FileExt01" value="FileExtension:.html" />
    <add key="FileExt02" value="FileExtension:.js" />
    <add key="FileExt03" value="FileExtension:.master" />
    <add key="FileExt04" value="FileExtension:.aspx" />
    <add key="FileExt05" value="FileExtension:.ascx" />
    <add key="FileExt06" value="FileExtension:.cshtml" />
    <add key="FileExt07" value="FileExtension:.cs" />
    <add key="FileExt08" value="FileExtension:.vbhtml" />
    <add key="FileExt09" value="FileExtension:.vb" />
    <add key="FileExt10" value="FileExtension:.ts" />
  </FilterConfiguration>
</configuration>