<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="EOLChecker-DotNet" type="System.Configuration.DictionarySectionHandler" />
    <section name="EOLChecker-Component" type="System.Configuration.DictionarySectionHandler" />
  </configSections>

  <EOLChecker-DotNet>
    <add key="netcoreapp3.1" value="2022-12-03" />
    <add key="netcoreapp3.0" value="2020-03-03" />
    <add key="netcoreapp2.2" value="2019-12-23" />
    <add key="netcoreapp2.1" value="2021-08-21" />
    <add key="netcoreapp2.0" value="2018-10-01" />
    <add key="netcoreapp1.1" value="2019-06-27" />
    <add key="netcoreapp1.0" value="2019-06-27" />

    <add key="net48" value="2024-01-09" />
    <add key="net472" value="2024-01-09" />
    <add key="net471" value="2022-01-11" />
    <add key="net47" value="2020-01-14" />
    <add key="net462" value="2022-01-11" />
    <add key="net461" value="2020-01-14" />
    <add key="new46" value="2020-01-14" />
    <add key="net452" value="2020-01-14" />
    <add key="net451" value="2016-01-12" />
    <add key="net45" value="2016-01-12" />
    
    <add key="v4.8" value="2024-01-09" />
    <add key="v4.7.2" value="2024-01-09" />
    <add key="v4.7.1" value="2022-01-11" />
    <add key="v4.7" value="2020-01-14" />
    <add key="v4.6.2" value="2022-01-11" />
    <add key="v4.6.1" value="2020-01-14" />
    <add key="v4.6" value="2020-01-14" />
    <add key="v4.5.2" value="2020-01-14" />
    <add key="v4.5.1" value="2016-01-12" />
    <add key="v4.5" value="2016-01-12" />
    <add key="v4.0" value="2016-01-12" />
    <add key="v3.5" value="2023-10-10" />
    <add key="v3.0" value="2011-07-12" />
    <add key="v2.0" value="2011-07-12" />
    <add key="v1.1" value="2015-07-14" />
    <add key="v1.0" value="2013-10-08" />
  </EOLChecker-DotNet>
  
  <EOLChecker-Component>
    
  </EOLChecker-Component>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.6.0" newVersion="5.11.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.8.0" newVersion="5.11.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>