<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ConfigParser-IgnoreUrls" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <ConfigParser-IgnoreUrls>
    <add key="url1" value="http://schemas.microsoft.com/" />
  </ConfigParser-IgnoreUrls>
</configuration>